.play-container{ 
    padding: 3em; 
    border: 1px solid lightgray;
      
}
ul{ 
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
li{ 
    background: rgb(238, 238 , 238);
    padding: 1em;
    margin-right: 10px;
    width:30%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
p{ margin: 0;} 

p.name{ font-weight: bold;
font-size: 1.2rem; } 

