ul{ 
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
li{ 
    background: rgb(238, 238 , 238);
    padding: 1em;
    margin-right: 10px;
    width:50%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
p{ margin: 0; 
display: inline;} 
